@media screen and (max-width: 768px ){
    .grade{
        height: auto;
        width: 60vw;
        padding: 15px;
        /* text-align: center; */
    }

    .apresentacao{
        padding: 10px;
    }
}