*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.interface{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section{
    scroll-snap-align: start;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow-y: hidden;
}

.page1{
    background-image: url(../img/garbage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.page2{
    background-color: #3772ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-container{
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
    /* overflow: hidden; */
    width: 80%;
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2em;
}

.text-container{
    text-align: justify;
    width: 80%;
    overflow: auto;
}

h2{
    text-align: center;
}

.page3{
    background-image: url(../img/trash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    line-height: 100vh;
    width: 100%;
}

.page4{
    background-color: #00ffae;
    color: #1d1c1c;
}

.page5{
    background-color: #06070e;
}
