*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.cabecalho{
    width: 100vw;
    height: 15vh;
    text-align: center;
}

.apresentacao{
    background-color: #eee;
    height: 15vh;
    padding: 50px;
    text-align: center;
}

.container{
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
}

.materias{
    max-width: 1200px;
    margin: 0 auto;
}

.grade{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
}

.txt-img{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#texto-1{
    background-image: url("../img/texto_1.jpg");
}

#texto-2{
    background-image: url("../img/texto_2.jpg");
}

#texto-3{
    background-image: url("../img/texto_3.jpg");
}

#texto-4{
    background-image: url("../img/texto_4.jpg");
}

#texto-5{
    background-image: url("../img/texto_5.jpg");
}

#texto-6{
    background-image: url("../img/texto_6.jpg");
}

footer{
    margin-top: auto;
    color: white;
    background-color: rgb(60, 141, 60);
    padding: 30px;
    text-align: center;
    border-top: 3px solid rgb(18, 82, 18);
}